@font-face {
  font-family: 'Play Regular';
  src: url('./../../fonts/Play-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play Bold';
  src: url('./../../fonts/Play-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  cursor: default;
  background-color: inherit;
  overflow-x: hidden;
  background-color: black;
  font-family: 'Play Regular', sans-serif;
  letter-spacing: 0.7px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #46c2a0;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.overflow-hidden {
  overflow: hidden;
}

iframe {
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

iframe::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  width: 100%;
  position: relative;
  z-index: 4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#c {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#myCanvas {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}


.btn {
  text-align: center;
  width: 200px;
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ffffff;
  text-shadow: 0 0 2px #ffffff;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(0.95);
  color: #46c2a0;
  border: 1px solid #46c2a0;
  box-shadow: 0 0 2px #46c2a0;
  text-shadow: 0 0 2px #46c2a0;
}

.btn:active {
  position: relative;
  bottom: -2px;
}

@media (max-width: 430px) {
  body {
    padding: 0px 5px;
  }
}

/* ----- 404 ----- */

.notFoundCo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 96px;
}

.notFound {
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.notFound:before,
.notFound:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.notFound:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.notFound:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}